.btn {
    font-size: 20;
    border-radius: 10;
    width:100%;    
}
html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: 100%; 
}
@media only screen and (max-width: 1026px) {
    #container_2{
        display: none;
    }
}
@media only screen and (max-width: 1026px) {
    #checkbox{
        display: none;
    }
}
.main{
    display: flex;
}
.flex-container {
    display: flex;
    flex-direction: row;
  }
  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
.class-row{
    display: flex;
    padding-left: 10;
    padding: 10;
    margin: 10;
}

.fa {
    padding-inline: 20px;
    padding-top: 20px;
    font-size: 40px;
    color: black;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 70%;
  }
  @media (max-width: 400px) {
    #copyright {
       text-align: center;
    }
    #social > div{
       display: block;
       width: 100%;
       margin:  auto;
       text-align: center;
    }
 }